<div class="container">
  <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h1>All features at one place</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="nav nav-pills">
              <li role="presentation" routerLinkActive="active"><a routerLink="/pipe">Pipe</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/io-decorator">Decorator</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/hooks">Hooks</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/reactive-form">Reactive</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/td-form">TD</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/encap-v1">Encap-1</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/encap-v2">Encap-2</a></li>
            </ul>
          </div>
        </nav>
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-2"></div>
  </div>
</div>