<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Customer Information </h1>
      <p style="color: brown;">Basic Information</p>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName= 'basicInfo'>
          <div class="form-group">
            <label for = "firstName"> First Name <span class="requiered-mark">*</span> </label>
            <input type="text" 
            class="form-control"
            id="firstName"
            formControlName="firstName"
            >
            <!-- ? is used to check is the value null -->
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.firstName.invalid && (signupForm.controls.basicInfo.controls.firstName.dirty || signupForm.controls.basicInfo.controls.firstName.touched)">
            <span *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.required">Name is required</span>
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.DotNotation">Don't add title in the name</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.minlength
            && !signupForm.controls.basicInfo.controls.firstName.errors?.DotNotation"> At least 4 character</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.maxlength
            && !signupForm.controls.basicInfo.controls.firstName.errors?.DotNotation"> At most 10 character</span>
            </span>
            
          </div>
          <div class="form-group">
            <label for="lastName">Last Name <span class="requiered-mark">*</span></label>
            <input type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
            >
            <!-- validator sequence should be same as component class -->
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.lastName.invalid && (signupForm.controls.basicInfo.controls.lastName.dirty || signupForm.controls.basicInfo.controls.lastName.touched)">
              <span *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.required">Name is required</span>
              <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.DotNotation">Don't add title in the name</span>
              <span *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.minlength
              && !signupForm.controls.basicInfo.controls.lastName.errors?.DotNotation"> At least 4 character</span>
              <span *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.maxlength
              && !signupForm.controls.basicInfo.controls.lastName.errors?.DotNotation"> At most 10 character</span>
              </span>
          </div>
          <div class="form-group">
            <label for="email">Email <span class="requiered-mark">*</span></label>
            <input type="text"
            id="email"
            class="form-control"
            formControlName="email"
            >
            <span 
            *ngIf="signupForm.controls.basicInfo.controls.email.errors"
            class="help-block2" style="color: red;">Please enter a valid email. </span>
          </div>
          <div class="form-group">
            <label for="phone">Phone No <span class="requiered-mark">*</span></label>
            <input type="text"
            id="phone"
            class="form-control"
            formControlName="phone">
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.invalid && (signupForm.controls. basicInfo.controls.phone.dirty || signupForm.controls.basicInfo.controls.phone.touched)">
                <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.errors?.required">Phone no is required.</span>
                <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.errors?.NotElevenDigit
                && !signupForm.controls.basicInfo.controls.phone.errors?.NotADigit">
                  Phone number should be 11 digit.
                </span>
                <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.errors?.NotADigit">
                  Only digits are allowed
                </span>
            </span>
          </div>
        </div>
        
        <!-- primary address section start from here -->

        <p style="color: brown;">Primary Address</p>
        <div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="isSameAsBasicInfoAddress"
            value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;">
                If email and phone no are same.
            </label>
          </div>
          <!-- primary address form -->
          <app-common-address [group]="signupForm.controls.primaryAddress" [addressType]="'Primary'"></app-common-address>
        </div>

        <!-- Secondary Address start form here  -->
        <a
          (click)="toggleSecodaryAddres()"
          class="sec-add-collapse-button"
        >Secondary Address</a>


        <div *ngIf="isCollapse">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="isSameAsPrimaryAddress"
            value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;">
              If primary and secondary are same.
            </label>
          </div>

          <!-- secondary address form -->
          <app-common-address [group]="signupForm.controls.secondaryAddress" [addressType]="'Secondary'"></app-common-address>

        </div>

        <!-- hobby section -->
        <div formArrayName="hobbies">
            <h3>hobbies List </h3>
            <div *ngIf="signupForm.controls.hobbies.length > 1 ">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Hobbies Name</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let hobby of signupForm.get('hobbies').controls; let i=index;">
                  <tr *ngIf="i!==signupForm.controls.hobbies.length-1">
                    
                    <td>
                      <h4 *ngIf="formArrayIndexnumber !== i">{{hobby.value}}</h4>
                      <input *ngIf="formArrayIndexnumber===i" type="text" class="form-control" [formControlName]="formArrayIndexnumber">
                    </td>
                    <td>
                      <button type="button" class="btn btn-warning" 
                      style="margin-right: 10px;"
                      (click)="arrayFormEdit(i)">Edit</button>
                      <button type="button" class="btn btn-info" 
                      style="margin-right: 10px;" 
                      (click)="arrayFormUpdate(i)" [disabled]="formArrayIndexnumber !==i">Update</button>
                      <button type="button" class="btn btn-danger" [disabled]="formArrayIndexnumber !==i"
                      (click)="arrayFormCancel(i)"
                      >
                      Cancel
                      </button>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- form control of form array -->
            <div class="form-group"
            *ngFor = "let hobby of signupForm.get('hobbies')?.controls; let i =index"
            > 
              <div *ngIf="i >signupForm.controls.hobbies.length-2">
                <input type="text" class="form-control" [formControlName]="signupForm.controls.hobbies.length-1">
              </div>
              </div>
            <button type="button"
            class="btn btn-success"
            (click)="addHobby($event.target)"
            style="margin-bottom: 10px;"
            >Add Hobby</button>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid" style="margin-bottom: 10px;">Submit</button>
        <button type="button" class="btn btn-danger" style="margin-left: 10px; margin-bottom: 10px;"
          (click)="onClear()">Cancel</button>
      </form>
    </div>
  </div>
<div>
    </div>
  </div>
<div>
  