<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Customer Information </h1>
      <p style="color: brown;">Basic Information</p>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName= 'basicInfo'>
          <div class="form-group">
            <label for = "firstName"> First Name </label>
            <input type="text" 
            class="form-control"
            id="firstName"
            formControlName="firstName"
            >
            <!-- ? is used to check is the value null -->
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.firstName.invalid && (signupForm.controls.basicInfo.controls.firstName.dirty || signupForm.controls.basicInfo.controls.firstName.touched)">
            <span *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.required">Name is required</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.DotNotation">Don't add title in the name</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.minlength"> At least 4 char</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.firstName.errors?.maxlength"> At most 11 char</span>
            </span>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
            >
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.lastName.invalid && (signupForm.   controls.basicInfo.controls.lastName.dirty || signupForm.controls.basicInfo.controls.lastName.touched)">
            <span *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.required">Name is required.</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.DotNotation">Don't add title in the  name</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.minlength"> At least 4 char</span>
            <span *ngIf="signupForm.controls.basicInfo.controls.lastName.errors?.maxlength"> At most 11 char</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
            id="email"
            class="form-control"
            formControlName="email"
            >
            <span 
            *ngIf="signupForm.controls.basicInfo.controls.email.errors"
            class="help-block2" style="color: red;">Please enter a valid email. </span>
          </div>
          <div class="form-group">
            <label for="phone">Phone No</label>
            <input type="text"
            id="phone"
            class="form-control"
              ormControlName="phone">
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.invalid && (signupForm.controls. basicInfo.controls.phone.dirty || signupForm.controls.basicInfo.controls.phone.touched)">
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.errors?.required">Phone no is required.</span>
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.errors?.NotElevenDigit">
            Phone number should be 11 digit.
            </span>
            <span class="help-block" *ngIf="signupForm.controls.basicInfo.controls.phone.errors?.NotADigit">
              String is not allowed.
            </span>
            </span>
          </div>
        </div>
        <p style="color: brown;">Primary Address</p>
        <div formGroupName="primaryAddress">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
            [checked]="primaryAddressCheckBoxValue"
            (click)="copyBasicInfoIntoPrimaryAddress()"
            value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;">
                If email and phone no are same.
            </label>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
            id="email"
            class="form-control"
            formControlName="email"
            >
            <span 
            *ngIf="signupForm.controls.primaryAddress.controls.email.errors"
            class="help-block2" style="color: red;">Please enter a valid email. </span>
          </div>
          <div class="form-group">
            <label for="phone">Phone No</label>
            <input type="number"
            id="phone"
            class="form-control"
            formControlName="phone">
            <span class="help-block" *ngIf="signupForm.controls.primaryAddress.controls.phone.invalid &&      (signupForm.controls.primaryAddress.controls.phone.dirty || signupForm.controls.primaryAddress.controls.phone.touched)">
              <span class="help-block" *ngIf="signupForm.controls.primaryAddress.controls.phone.errors?.required">required field</span>
              <span class="help-block" *ngIf="signupForm.controls.primaryAddress.controls.phone.errors?.NotaDigit">
              Only digits are allowed.
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text"
            id="address"
            class="form-control"
            formControlName="address">
            <span class="help-block" *ngIf="signupForm.controls.primaryAddress.controls.address.invalid &&
            (signupForm.controls.primaryAddress.controls.address.dirty || signupForm.controls.primaryAddress.controls.address.touched)">Address is a required field.
            </span>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text"
            id="city"
            class="form-control"
            formControlName="city">
            <span class="help-block" *ngIf="signupForm.controls.primaryAddress.controls.city.invalid &&
            (signupForm.controls.primaryAddress.controls.city.dirty || signupForm.controls.primaryAddress.controls.city.touched)">City is a required field.
            </span>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text"
            id="country"
            class="form-control"
            formControlName="country">
            <span class="help-block" *ngIf="signupForm.controls.primaryAddress.controls.country.invalid &&
            (signupForm.controls.primaryAddress.controls.country.dirty || signupForm.controls.primaryAddress.controls.country.touched)">Country is a required field.
            </span>
          </div>
          <div class="form-group">
            <label for="postCode">Post Code</label>
            <input type="number"
            id="postCode"
            class="form-control"
            formControlName="postCode">
            <span class="help-block" *ngIf="signupForm.controls.primaryAddress.controls.postCode.invalid &&
              (signupForm.controls.primaryAddress.controls.postCode.dirty || signupForm.controls.primaryAddress.controls.postCode.touched)">Post code is a required field.
            </span>
          </div>
        </div>

        <p style="color: brown;">Secondary Address</p>
        <div formGroupName="secondaryAddress">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
            [checked]="secondaryAddressCheckBoxValue"
            (click)='copyPrimaryAddessIntoSecondaryAddress()'
            value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 10px;">
              If primary and secondary are same.
            </label>
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="text"
                id="email"
                class="form-control"
                formControlName="email"
              >
              <span 
                *ngIf="signupForm.controls.secondaryAddress.controls.email.errors"
                class="help-block2" style="color: red;">Please enter a valid email. </span>
          </div>
          <div class="form-group">
            <label for="phone">Phone No</label>
            <input type="number"
              id="phone"
              class="form-control"
              formControlName="phone">
            <span class="help-block" *ngIf="signupForm.controls.secondaryAddress.controls.phone.invalid &&  (signupForm.controls.secondaryAddress.controls.phone.dirty || signupForm.controls.secondaryAddress.   controls.phone.touched)">
              <span class="help-block" *ngIf="signupForm.controls.secondaryAddress.controls.phone.errors?.    required">Phone no is a required field.</span>
              <span class="help-block" *ngIf="signupForm.controls.secondaryAddress.controls.phone.errors?.NotElevenDigit">
                Should be 11 digits.
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text"
              id="address"
              class="form-control"
              formControlName="address"
            >
            <span class="help-block" *ngIf="signupForm.controls.secondaryAddress.controls.address.invalid &&
            (signupForm.controls.secondaryAddress.controls.address.dirty || signupForm.controls.secondaryAddress.controls.address.touched)">Address is a required field.
            </span>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text"
                id="city"
                class="form-control"
                formControlName="city">
            <span class="help-block" *ngIf="signupForm.controls.secondaryAddress.controls.city.invalid &&
              (signupForm.controls.secondaryAddress.controls.city.dirty || signupForm.controls.secondaryAddress.controls.city.touched)">City is a required field.
            </span>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text"
              id="country"
              class="form-control"
              formControlName="country"
            >
            <span class="help-block" *ngIf="signupForm.controls.secondaryAddress.controls.country.invalid &&
            (signupForm.controls.secondaryAddress.controls.country.dirty || signupForm.controls.secondaryAddress.controls.country.touched)">Country is a required field.
            </span>
          </div>
          <div class="form-group">
            <label for="postCode">Post Code</label>
            <input type="number"
              id="postCode"
              class="form-control"
              formControlName="postCode">
            <span class="help-block" *ngIf="signupForm.controls.secondaryAddress.controls.postCode.invalid &&
                (signupForm.controls.secondaryAddress.controls.postCode.dirty || signupForm.controls.secondaryAddress.controls.postCode.touched)">Post code is a required field.
            </span>
          </div>
        </div>
        <div formArrayName="hobbies">
            <h3>hobbies List </h3>
            <button type="button"
            class="btn btn-success"
            (click)="addHobby()"
            style="margin-bottom: 10px;"
            >Add Hobby</button>
            <div class="form-group"
            *ngFor = "let hobby of signupForm.get('hobbies')?.controls; let i =index"
            >
              <input type="text" class="form-control" [formControlName]="i">   
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Submit</button>
        <button type="button" class="btn btn-danger" style="margin-left: 10px;"
          (click)="onClear()">Cancel</button>
      </form>
    </div>
  </div>
<div>
  