input.ng-invalid.ng-touched{
    border: 1px dotted red;
}
.help-block{
    color: red;
}
.requiered-mark{
    color: red;
}
.sec-add-collapse-button{
    margin-right: 5px ;
    margin-bottom: 10px;
    color: brown;
    font-size: large;
}

.sec-add-collapse-button:hover{
    margin-right: 5px ;
    margin-bottom: 10px;
    color: green;
    cursor: pointer;
}